<section class="section">
  <p>
    Here you can generate the treasure for an entire hoard.
  </p>
</section>
<section class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="cr-input">Challenge Rating</label>
      {{input type="number" id="cr-input" value=(mut cr)}}
    </div>
    {{#link-to "main.treasure.hoard.cr" cr tagName="button"}}
      Roll Dice
    {{/link-to}}
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Roll Results</h4>
        <ul class="card-text left-lg-padding no-bullets">
          {{outlet}}
        </ul>
      </div>
    </div>
  </div>
</section>