<section class="section">
  <h1>Calculate Individual Treasure</h1>
  <p>
    Here you can generate the treasure carried by an individual creature
  </p> 
</section>
<section class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="cr-input">Challenge Rating</label>
      {{input type="number" id="cr-input" value=(mut cr)}}
    </div>
    <button {{action "selectCR"}}>Roll Dice</button>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Roll Results</h4>
        {{outlet}}
      </div>
    </div>
  </div>
</section>