<section class="section">
  <h1>Calculate Individual Treasure</h1>
  <p>
    Here you can generate the treasure carried by an individual creature
  </p> 
</section>
<section class="row">
  <div class="col-6">
    {{ui/labeled-input
      data-test-individual-cr-input="true"
      input-id="cr-input"
      label="Challenge Rating"
      type="number"

      update=(action (mut cr))
    }}
    <button data-test-calculate-reward-trigger type="button" {{action "selectCR"}}>
      Roll Dice
    </button>
  </div>
  <div class="col-4">
    <div class="card" data-test-individual-result-card>
      <div class="card-body">
        <h4 class="card-title">Roll Results</h4>
        {{outlet}}
      </div>
    </div>
  </div>
</section>