{{#if label}}
  <label for={{input-id}}>
    {{label}}
  </label>
{{/if}}
{{input
  data-test-labeled-input-field=input-id
  id=input-id
  type=type
  value=this.value

  key-up=(action update this.value)
}}