<ul class="card-text left-lg-padding no-bullets">
  {{#if rewards}}
    {{#each rewards as |reward|}}
      <li>
        {{roll-format reward.rolls}} = {{currency-format reward.total reward.coinType}}
      </li>
    {{/each}}
  {{else}}
    <li>No rolls yet</li>
  {{/if}}
</ul>