<ul class="card-text left-lg-padding no-bullets">
  {{#each rewards as |reward|}}
    <li>
      {{roll-format reward.rolls}} = {{currency-format reward.total reward.coinType}}
    </li>
  {{else}}
    <li>No rolls yet</li>
  {{/each}}
</ul>