<<ul class="dice-list flex-layout-row flex-wrap selected-dice">
  {{#each this.model.dieRolls as |item|}}
    <li>
      <button>{{item.die.name}}</button>
      <div class="result">{{item.result}}</div>
    </li>
  {{/each}}
</ul>