<p>
  This tool is intended to help with generating random treasure for Dungeons and Dragons campaigns. It will simulate dice rolls for you,
  and use the corresponding random item tables to provide you with a desired result.
</p>

{{#link-to "main.treasure"}}
  Generate Treasure
{{/link-to}}