<ul class="flex-spaces row tabs">
  <li>
    {{#link-to "main.treasure.individual"}}
      Individual
    {{/link-to}}
  </li>
  <li>
    {{#link-to "main.treasure.hoard"}}
      Hoard
    {{/link-to}}
  </li>
</ul>
{{outlet}}