<ul class="flex-spaces row tabs">
  <li>
    <LinkTo @route="main.treasure.individual" data-test-app-subnav-link="individual-treasure">
      Individual
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="main.treasure.hoard" data-test-app-subnav-link="hoard-treasure">
      Hoard
    </LinkTo>
  </li>
</ul>
{{outlet}}