<ul class="flex-spaces row tabs">
  <li>
    {{#link-to "main.treasure.individual" data-test-app-subnav-link="individual-treasure"}}
      Individual
    {{/link-to}}
  </li>
  <li>
    {{#link-to "main.treasure.hoard" data-test-app-subnav-link="hoard-treasure"}}
      Hoard
    {{/link-to}}
  </li>
</ul>
{{outlet}}