{{#let (cr-config) as |cr-config|}}
  <Ui::LabeledInput
    class="padding-left-small padding-right-large"
    data-test-cr-input
    @input-id="cr-input"
    @label="Challenge Rating"

    @update={{action (mut cr-config.cr)}}
  />
  <button class="padding-left-small" data-test-cr-trigger type="button" {{on "click" (fn @selectCR cr-config.cr)}}>
    Roll Dice
  </button>
{{/let}}