select {
  @include appearance(none);
}

.comfortable {
  & > .select-wrapper {
    & > select {
      padding: .75rem;
      padding-right: 1.25rem;
    }
  }
}

.select-wrapper {
  background: 0 0;
  border: 2px solid #41403e;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  color: #41403e;
  display: block;
  font-size: 1rem;
  outline: 0;

  &.custom-caret {
    position: relative;

    &::after {
      color: $black;
      content: '\25BC';
      display: block;
      height: 1em;
      font-size: .625em;
      margin-top: -0.5em;
      position: absolute;
      right: 1.25rem;
      top: 50%;
    }
  }

  & > select {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: .5rem;
    width: 100%;
  }
}