<h1>Profile</h1>

<div class="flex-layout-row">
  <div>
    {{!-- TODO: build out a side nav component --}}
    <ul class="side-nav">
      <li>
        <LinkTo @route="profile.index">Info</LinkTo>
      </li>
      <li>
        <LinkTo @route="profile.roll-history">Roll History</LinkTo>
      </li>
    </ul>
  </div>
  <div class="padding-left-large">
    {{outlet}}
  </div>
</div>
