<h1>Profile</h1>

<div class="flex-layout-row">
  <ul>
    <li>
      <LinkTo @route="profile.index">Info</LinkTo>
    </li>
    <li>
      <LinkTo @route="profile.roll-history">Roll History</LinkTo>
    </li>
  </ul>
  <div>
    {{outlet}}
  </div>
</div>
